body {
    color: $tf-color-text-white;
    background-color: $tf-color-background;
    font-size: 16px;
}

p, a, label, input, select {
    font-family: 'TF2 Secondary', sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'TF2 Build', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

hr {
    color: $tf-color-text-white;
}

.btn {
    font-family: 'TF2 Build', sans-serif;
}

.btn-tf {
    color: $tf-color-text-white;
    border-radius: 8px;
    font-size: 2rem;

    &:hover {
        color: $tf-color-text-white;
    }

    &.btn-tf-small {
        font-size: 1rem;
    }

    &.btn-tf-gry {
        background-color: $tf-btn-grey;
        border-color: $tf-btn-grey;

        &:hover {
            background-color: $tf-btn-orange-hover;
            border-color: $tf-btn-orange-hover;
        }
    }

    &.btn-tf-grn {
        background-color: $tf-color-green;
        border-color: $tf-color-green;

        &:hover {
            background-color: $tf-color-green-hover;
            border-color: $tf-color-green-hover;
        }
    }

    &.btn-tf-red {
        background-color: $tf-color-red;
        border-color: $tf-color-red;
    }
}

.link-filter {
    text-align: center;

    color: $tf-color-text-white;

    &:hover {

    }
}

#find-match {
    margin: 2rem 0;
}
